@keyframes rollError {
   0% {
      transform: translateX(0);
   }
   15% {
      transform: translateX(0.375rem);
   }
   35% {
      transform: translateX(-0.375rem);
   }
   50% {
      transform: translateX(0.375rem);
   }
   75% {
      transform: translateX(-0.375rem);
   }
   90% {
      transform: translateX(0.375rem);
   }
   100% {
      transform: translateX(0);
   }
}
.form-passport {
   &__label {
      display: block;
      max-width: 400px;
      margin: 0px auto 20px auto;
      text-align: center;

      .input {
         border: 2px solid #bd8a88;
         border-radius: 10px;
         padding: 4px 20px;
         &:focus {
            border: 2px solid #84605f;
         }
         &.invalid {
            border: 2px solid #e81919;
            animation-name: rollError;
            animation-fill-mode: forwards;
            animation-duration: 0.4s;
            animation-timing-function: ease-in-out;
            &:focus {
               border: 2px solid #a21111;
            }
         }
         &.valid {
            border: 2px solid #2db82d;
         }
      }
   }
   &__select {
      text-align: center;
      margin: 0px auto 20px auto;
      max-width: 222px;
      width: 100%;
      .select-inner {
         max-width: 300px;
         cursor: pointer;
         border-radius: 8px;
         background: rgba($color: #a99796, $alpha: 0.8);
         border: 2px solid #715251;
         position: relative;
         &:after {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translate(0, -50%);
            content: "";
            width: 0.8em;
            height: 0.5em;
            background-color: #000;
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
         }
         &:focus {
            border: 2px solid #4f3938;
            &:after {
               transform: translate(0, -50%) rotate(180deg);
            }
         }
         @media (max-width: 604px) {
            margin: 0 auto 20px auto;
            text-align: center;
         }
      }
      .select {
         width: 102%;
         margin: -2px;
         padding: 4px 10px 4px 10px;
         border-radius: 8px;
         background-color: transparent;
         border: none;
         &.valid {
            border: 2px solid #2db82d;
         }
         &.invalid {
            border: 2px solid #e81919;
            &:focus {
               border: 2px solid #a21111;
            }
         }
      }
   }
   &__next {
      position: absolute;
      bottom: 2%;
      right: 2%;
      z-index: 10;
      .button {
         font-size: 25px;
         color: #32cd32;
         transition: all 0.6s ease 0s;
         @media (max-width: 769px) {
            transition: all 0.2s ease 0s;
         }
         &:hover {
            color: #238f23;
         }
      }
   }
}
